Django==1.10.3
requests==2.11.1
django-redis-cache==1.7.0
hiredis==0.2.0
python-dateutil
elasticsearch==2.4.0
django-haystack==2.5.0
django-braces==1.9.0
django-debug-toolbar==1.5
django-allauth==0.27.0
Pillow==3.2.0
Jinja2==2.7.3
psycopg2==2.6.1
ipython==3.2.0
gunicorn==19.4.5
pyinotify==0.9.6
Unipath==1.1
docutils==0.12
restview==2.5.2
django-storages==1.5
boto==2.43.0
