$color-link: #5172a6;
$color-text: #2c2c2c;
$color-dimmed: #b0b6bd;
$color-extra-dimmed: #f0f0f1;
$color-extra-double-dimmed: #fcfcfc;
$color-bg-body: #324250;
$color-bg-wrapper: #fff;
$color-link-normal: #ff0000;
$color-link-hover: #2197e1;
$color-link-active: #2197e1;
$color-link-visited: #ea5959;
$color-bg-ad: #fcfcfc;
$color-border-ad: #e2e2e2;
$color-hilite: #2197e1;
$color-bg-hi: #fffdee;
$color-border-input: #fff9b4;

$color-link-normal-dark: #818285;
$color-link-hover-dark: #626262;
$color-link-active-dark: #626262;
$color-link-visited-dark: #818285;
